@media (max-width: 767px){

/**{
	margin: 2px;
}*/

*{
	padding: 3px;
}
	.sale img {
		height: 30px;
		width: 100%;
		margin: 0px 0;
	}

	.spnb {
		/*display: none;*/
	}
	.fn > ul > li {
		list-style-type: none;
		color:rgb(255, 237, 0);
		/*		padding-left: -10px;*/
	}

	.spm{
		overflow-x: hidden;
		overflow-y: hidden;
		font-size: 25px;
		color: #0020D4;
		text-align:center;
		width: 100%;	
		padding: 2px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.navbar-toggle {
		display: none;
	}

}

@media (min-width: 768px){

	.navbar-toggle {
		display: none;
	}

	.navbar-nav>li>a{
		display: none
		font-size: 12px;
	}
	
	.thumbnail {
		height: 410px;
	}

	.w-img {
		height: 160px;
		/*overflow-y: hidden;*/
	}

	h4 {
		font-size: 15px;
	}

	h3{
		font-size: 21px;
	}
}

/*@media(min-width: 992px){*/
	*{
		box-sizing: border-box;
	}

	li,ul{
		list-style: none;
	}

	/*hinh nen*/
	/*body{
		background: url("../img/background.jpg") center center no-repeat;
		background-attachment: fixed;
		}*/

		/*can chinh 2 ben */
		.container {
			padding-right: 0px;
			padding-left: 0px;
		}

		h1{
			color: red;
			text-align: center;
		}

		/*Màu chữ thanh menu*/
		.navbar-default .navbar-nav>li>a {
			color: white;
			font-size: 14px;
		}

		/*mau thanh menu tren*/
		.top .navbar-brand .menu .navbar-brand{
			color:white;

		}

		/* div trang chủ*/
		.navbar-default .navbar-brand{
			/*border-right:1px dashed grey;*/
			color:white;
		}
		.navbar-default .navbar-brand:hover{
			color: #F9FF00;
		}

		.navbar-brand{
			font-size: 15px;
		}
		.navbar-default .tieude:hover {
			color: white;
			background-color: transparent;
		}
		.navbar{

			margin-bottom: 0px;
			background:#0F6BB5;
		}
		/*border cua menu*/
/*.border-ul li {
	border-right:1px dashed grey;
	}*/
	.border-ul ul li:last-child{
		border-right: none;
	}

	/*mau thanh sale*/
	.panel{
		background: #EFD88A;
	}

	/*thanh register*/
	.register{
		padding-top: 0px;
	}

	/*SLIDE CHẠY*/
	.carousel-inner > .item > a > img {
		max-height: 410px;
		width: 100%;
		margin: auto;
	}


	.listnone{
		list-style: none;
		color:rgb(255, 237, 0);
		padding-left: 1px;
	}

	/*mau  thanh left*/
	.well{
		font-size: 15px;
		background:#0F6BB5;
	}

	/*sp noi bat*/
	h2{
		color:#e62739;
	}

	.dropdown-toggle{
		color: #462066;
	}

	.thumbnail {
		text-align: center;
	}

	.w-img{
		height: 260px;
		overflow-y: hidden;
	}
	.w-img img{
		width: 100%;
	}

	/*màu giá tiền*/
	h3{
		color:rgb(0, 76, 253);
	}

	a {
		color: white;
		text-decoration: none;
		font-family: Tahoma, sans-serif;
		text-transform: initial;
	}

	.container nav-footer{
		color: #FCF4D9;
	}

	.btn{
		font-size: 17px;

	}
	.sale img{
		height: 80px;
		width: 100%;
		margin:11px 0;
	}

	/*màu nút thêm vào giỏ*/
	.btn-danger{
		background-color: #e62739;

	}

	.btn-default{
		color: white;
		background: #0F6BB5;
	}
	/*màu tên sản phẩm*/
	h4{
		color: black;
	}

	/*slide*/
	.carousel-control{
		display: block;
	}

	.carousel-control.left {
		background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
		background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
		background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
		background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
		background-repeat: repeat-x;
	}
	.carousel-control.right {
		right: 0;
		left: auto;
		background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
		background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
		background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
		background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
		background-repeat: repeat-x;
	}
	.carousel-control {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 5%;
		font-size: 20px;
		color: #fff;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0,0,0,.6);
		background-color: rgba(0,0,0,0);
		filter: alpha(opacity=50);
		opacity: .5;
	}
	/*end slide*/

	/*nút back to top*/
	.back-to-top{
		width: 4%;
		display:scroll;
		position:fixed;
		bottom:5px;
		right:5px;
		border-radius: 50%;
	}

	/*icon đặc biệt*/

	.spnb{
		font-size: 25px;
		color: white;
		text-align: center;
		width: 100%;	
		background: #0F6BB5;
		padding: 2px;
		margin-top: 20px;
		margin-bottom: 10px;

	}
	
	.spm{
		font-size: 25px;
		color: white;
		text-align: center;
		width: 100%;	
		background: #0F6BB5;
		padding: 2px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	/*màu footer*/
	.fn > ul > li > a{
		color: #1D00FF;
		padding-left: 0px;
	}

	#info{
		color: black;
	}


	.end{
		/*border-bottom: 1px dashed #ccc;*/
		padding-top: 10px;
	}

	/*Thông tin sp*/
	.infosp{
		font-size: 16px;
	}
	#footer{
		padding-top: 10px;
		background-color: rgba(255, 243, 187, 0.41);
		padding-bottom: 15px;
	}

	/*chi tiet sp*/
	.chitietsp{
		color: #D3E098;
	}

	.nav-tabs>li>a {
		background: #0F6BB5;
		color: white;
	}

	/*đổi banner*/
	/*.move1{
		color: #FFF;
		background: #f96489;
		}*/

		.modal-footer .dk{
			color: blue;
		}


		.modal-footer .submit{
			/*		background: blue;*/
			color:black;	
		}

		.nav-tabs>li.active>a{
			color: #0F6BB5;
		}

		.tabs>li.active>a:hover {
			color: blue;
		}
		/*img lego*/

		#chitiet img{
			/*max-width: 99%;*/
			margin: 10px auto;
			border: 5px solid #fff;
			box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
		}

	}

	.#chitiet{
		text-align: center;
	}

	.lego-img{
		margin-top: 20px;
	}


	/*căn chỉnh thanh footer*/
	ul.footer-links{
		padding:15px;
	}
	/*}*/

	.list-sp{
		font-size: 25px;
		color: #0020D4;
		text-align: center;
		width: 100%;	
		background: #FFED00;
		padding: 2px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.navbar-default .navbar-nav>li>a:hover{
		color: #F9FF00;
	}

	a:hover {
		color: #F9FF00;

	}


	.carousel-inner :hover{
		color: #333;
		background: #E51448;
	}

	/*Danh mục sp*/
	.navbar-nav>li>.dropdown-menu{
		background-color: #0F6BB5;
	}

	/*màu danh mục*/
	.dropdown-menu>li>a{
		color: white;
	}

	.dropdown-menu>li>a:hover {
		background: none;
		color: #FFED00;

	}

	/*logo*/
	#logo img{
		width: 20%;
		height: 10%;
	}

	/*đăng kí, đăng nhập*/
	#register.navbar-nav>li>a{
		font-size: 16px;
	}


	/*table*/

	.table-pay {
		border-left: none;
		margin-bottom: 15px;
		border: 1px solid #ebebeb;
	}

	.tr {
		display: table-row;
		vertical-align: inherit;
		border-color: inherit;
	}

	.table-pay td {
		border-top: 1px solid #ebebeb;
		text-align: center;
		border-left: 1px solid #ebebeb;
		padding: 10px;
		display: table-cell;
		vertical-align: inherit;
		font-family: Arial,sans-serif,Tahoma,Helvetica;
		font-size: 16px;
	}

	.table-pay th {
		border-left: 1px solid #ebebeb;
		padding: 10px;
		display: table-cell;
		vertical-align: inherit;
	}

	.table-pay td img{
		width: 100%;
	}

	/*thanh xóa sp trang giỏ hàng*/
	.ic-del {
    color: red;
}

.ic-black >a{
	color: blue;
}

#cart_name, #cart_phone, #cart_email, #cart_add, #cart_notice{
	width: 98%;
}